# Configuración por defecto (Entorno Local/IDE)
server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/lead_db
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: lead-group-v2
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    listener:
      property-lifecycle:
        group-id: lead-lifecycle-group-v2

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

# Configuración específica para Docker
---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://lead-db:5432/lead_db
    username: lead_user
    password: lead_password
    driver-class-name: org.postgresql.Driver
  kafka:
    consumer:
      bootstrap-servers: broker:29092
      group-id: lead-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"
    listener:
      property-lifecycle:
        group-id: lead-lifecycle-group-v2

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
  instance:
    prefer-ip-address: true