# Configuración por defecto (Entorno Local/IDE)
server:
  port: 8082
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/property_db
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD
    driver-class-name: org.postgresql.Driver
  jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true # Formatea el SQL en logs para mejor legibilidad
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

firebase:
  storage:
    bucket-name: id-proyecto.appspot.com
    download-url-format: "https://firebasestorage.googleapis.com/v0/b/%s/o/%s?alt=media"

# Configuración específica para Docker
---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    # Uso del nombre del servicio property-db definido en docker-compose (DNS interno de Docker)
    url: jdbc:postgresql://property-db:5432/property_db

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
  instance:
    # Fuerza el uso de la IP interna del contenedor en lugar del hostname del sistema operativo.
    prefer-ip-address: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true