# Configuración por defecto (Entorno Local/IDE)
server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/property_db
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD
    driver-class-name: org.postgresql.Driver
  jpa:
      hibernate:
        ddl-auto: create
      show-sql: true
      properties:
        hibernate:
          format_sql: true # Formatea el SQL en logs para mejor legibilidad
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 50MB
  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      bootstrap-servers: localhost:9092
      group-id: property-group-v2
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "com.inmohub.property.service.messaging.dtos"

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

firebase:
  storage:
    bucket-name: TU_BUCKET_DE_FIREBASE
    download-url-format: "https://firebasestorage.googleapis.com/v0/b/%s/o/%s?alt=media"

# Configuración específica para Docker
---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    # Uso del nombre del servicio property-db definido en docker-compose (DNS interno de Docker)
    url: jdbc:postgresql://property-db:5432/property_db
  kafka:
    producer:
      bootstrap-servers: broker:29092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      bootstrap-servers: broker:29092
      group-id: property-group-v2
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
  instance:
    # Fuerza el uso de la IP interna del contenedor en lugar del hostname del sistema operativo.
    prefer-ip-address: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true